################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConverter/bin/
/CurrencyConverterTest/obj/
/.vs/CurrencyConverter/CopilotIndices/
/.vs
/CurrencyConverterIntegrationTests/bin/
/CurrencyConverterTest/bin/
/CurrencyConverterIntegrationTests/obj/
/CurrencyConverter/obj
/CurrencyConverter/Logs
