################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConverter/bin/Debug/net8.0
/CurrencyConverterTest/obj/Debug/net8.0
/.vs/CurrencyConverter/CopilotIndices/
/.vs
